<!DOCTYPE html>
<html lang="en"  html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная Страница</title>
    <link rel="stylesheet" th:href="@{/main.css}"/>
</head>
<body>
      <div th:replace="layouts/header :: header"></div>

      <div class="presentation">
          <img src="https://sun9-west.userapi.com/sun9-10/s/v1/if2/IBt1oZ9FakJ0CSDlHm5lQTNwTpqoRo61rkkgLjREmtawJDKolioLvcCQknERg8EaXTXoFjlDX_t0xhl80ISFOtJH.jpg?size=551x551&quality=95&type=album">

          <h2>Это место для открытия в людях новых талантов и возможностей, место для творчества без границ!</h2>
          <p>– Индивидуальный подход к каждому ученику и уникальная атмосфера</p>
          <p>– Движ и тусовка, новые интересные знакомства и заражающая страсть к музыке</p>
      </div>
        <main class="container">
</main>
      <div th:replace="layouts/footer :: footer"></div>

</body>
</html>